* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(135deg, cornflowerblue, blue, purple);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    gap: 15px;
}

h1 {
    padding-bottom: 30px;
    color: white;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    font-family: sans-serif;
    color: white;
}

fieldset>div {
    display: flex;
    justify-content: space-between;
}

input,
select,
textarea {
    width: 50%;
    padding: 0;
}

input[type="submit"],
input[type="reset"] {
    width: 100px;
    padding: 10px 0px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    margin-top: 15px;
    font-weight: bold;
}

.btnWrapper {
    display: flex;
    gap: 30px;
}

textarea {
    resize: none;
}

legend {
    font-size: 22px;
}

fieldset>div input[type="checkbox"],
fieldset>div input[type="radio"] {
    width: auto;
}